.animationWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  &-startup {
    position: absolute;
    animation: float 1.5s infinite alternate;
  }
}

@keyframes float {
  from {
    left: 0;
    bottom: 0;
  }
  to {
    left: 25%;
    bottom: 25%;
  }
}
