.link::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  transform: scale(0);
  border-radius: 0.75rem;
  outline: 5px solid hsl(var(--border, 0.1));
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.link:hover::after {
  transform: scale(1);
}
