label {
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 50%;
    height: 3.2rem;
    border-radius: 15px;
    z-index: -1;
    background: linear-gradient(180deg, #638dfe 0%, #3e64e7 100%);
    box-shadow: 0px 20.92px 77.404px -31.38px #2f334a,
      0px 6.276px 4.184px 0px #7b9efe inset;
    text-align: center;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
}

label div:nth-child(1) {
  color: #fff;
}

label div:nth-child(2) {
  color: #618bfd;
}

#toggle:checked + label::before {
  left: calc(50% - 4px);
}

#toggle:checked + label div:nth-child(2) {
  color: #fff;
}
#toggle:checked + label div:nth-child(1) {
  color: #618bfd;
}

.front,
.top,
.backside,
.bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.front {
  transform: translateZ(50px);
}
.backside {
  transform: translateZ(0);
}

.top {
  transform: rotateX(-90deg) translateZ(-50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes roll-up {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  &-hero {
    &-right {
      background-image: url("../assets/hero.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 450px;
      display: grid;
      flex: 1;
      // gap: 10px;
      grid-template-columns: repeat(6, 60px);
      grid-template-rows: repeat(8, 50px);
      align-content: space-around;
      justify-content: space-between;
      z-index: 1;
      // .lineChart {
      //   z-index: -1;
      //   grid-column: 1 / 4;
      //   grid-row: 1 / 3;
      // }
      // .views {
      //   grid-column: 1 / 4;
      //   grid-row: 5 / 6;
      // }
      .likes {
        grid-column: 6 / 9;
        grid-row: 2 /4;
      }
      .totalEn {
        grid-column: 5 / 9;
        grid-row: 6 / 9;
      }
    }
  }
}
