.nav {
  &-select {
    border-radius: 25.104px;
    border: 1.185px solid #70779c;
    opacity: 0.95;
    background: linear-gradient(311deg, #3c446b 0%, #4a5176 88.79%);
    box-shadow: 9.48373px 9.48373px 21.3384px 0px rgba(54, 59, 87, 0.2),
      -7.1128px -7.1128px 23.70933px 0px rgba(85, 93, 131, 0.56);
    &_flag {
    }
  }
}
